/* Variables */

$primaryColor: #53A7E8;
$fontStack: 'Josefin Sans',
sans-serif;

/* Basic UI Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    font-family: $fontStack;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.showcase-image-container {
    position: relative;
    display: flex;
    margin-bottom: 2em;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    }
}


/* Typography */

h1,
h3 {
    text-transform: uppercase;
}

h1 {
    color: $primaryColor;
    font-size: 40px;
    line-height: 1.1em;
}

h3 {
    font-size: 18px;
}

p {
    color: gray;
    padding: 17px;
    line-height: 1.6em;
}


/* Navigation Bar */

.nav-bar-header {
    width: 100%;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    transition: margin 300ms ease-in-out;
    z-index: 1000;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: #128AE6;
    padding: 8px;
}

.company-logo {
    height: 50px;
}

.nav-toggle {
    display: none;
}

nav {
    width: 75vw;
    position: absolute;
    left: 25vw;
    transform: scale(0, 1);
    transition: transform 300ms ease-in-out;
    transform-origin: right;
}

.nav-bar {
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    padding-left: 50px;
    text-align: start;
    list-style-type: none;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 75ms ease-in-out;
}

.nav-bar li:first-child {
    margin-top: 4.5em;
}

.nav-bar li:not(:last-child) {
    padding-bottom: 12px;
}

.nav-toggle:checked~nav {
    transform: scale(1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 200ms;
}

.header--scrolled-down {
    margin-top: -66px;
    transition: margin 300ms ease-in-out;
}


/* Home Page Hero Section */

.home-hero {
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../../assets/images/home-hero-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.home-hero h1 {
    font-size: 48px;
    color: white;
}

.home-hero h1 span {
    color: $primaryColor;
}


/* Buttons */

.button {
    font-family: $fontStack;
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: 3px solid $primaryColor;
    padding: 10px 30px;
}

.button:active,
.button:hover {
    background: $primaryColor;
    cursor: pointer;
}

.button__join {
    font-size: 24px;
    font-weight: 600;
    border-radius: 25px;
}


/* Home Page What We Offer Section */

.home-perks {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.perk-item {
    margin-top: 2em;
}

.perk-item-image {
    height: 100px;
    margin-bottom: 15px;
}

.perk-item-image--big {
    height: 150px;
}

.perk-description p {
    margin-top: 9px;
}


/* Home-Testimonials */

.home-testimonials {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    width: 270px;
    height: auto;
    padding: 1.5em 0em;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.testimonial:hover {
    box-shadow: 0px 0px 56px rgba(0, 0, 0, .20);
}

blockquote::before {
    content: open-quote;
    font-size: 4rem;
    line-height: 1em;
    color: #3174F4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

blockquote::after {
    content: close-quote;
    font-size: 4rem;
    line-height: .6em;
    color: #3174F4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

blockquote p {
    font-size: 18px;
}

cite {
    color: #3174F4;
    font-weight: bold;
}