/* Variables */
/* Elements */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

/* UI Elements */
h1,
h3 {
  text-transform: uppercase;
}

h1 {
  color: #F4B131;
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

p {
  color: gray;
  padding: 3px;
}

button {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: .5em;
  background: transparent;
  color: white;
  border: 3px solid #F4B131;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 30px;
}

button:active {
  background: #F4B131;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
header {
  width: 75vw;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

.fa-bars {
  position: absolute;
  top: .5em;
  right: .5em;
  z-index: 100;
}

.nav-toggle {
  display: none;
}

/* Navigation Bar */
nav {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: opacity 75ms ease-in-out;
  transition: opacity 75ms ease-in-out;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out 200ms;
  transition: opacity 150ms ease-in-out 200ms;
}

.nav-bar {
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 8px;
  padding-left: 50px;
  text-align: start;
  position: absolute;
  list-style-type: none;
  width: 100%;
}

.nav-bar li:first-child {
  margin-top: 4.5em;
}

.nav-bar li:not(:last-child) {
  padding-bottom: 12px;
}

/* Home Page Hero Section */
.home-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../assets/images/home-hero-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/home-hero-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
}

.home-hero h1 {
  color: white;
}

.home-hero h1 span {
  color: #F4B131;
}

/* Home Page What We Offer Section */
.home-perks {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-perks img {
  height: 150px;
}

.perk-item {
  margin-top: 2em;
}

.perk-description p {
  margin-top: 9px;
}
/*# sourceMappingURL=main.css.map */