/* Variables */
/* Basic UI Elements */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

section {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.showcase-image-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}

.showcase-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}

/* Typography */
h1,
h3 {
  text-transform: uppercase;
}

h1 {
  color: #53a7e8;
  font-size: 40px;
  line-height: 1.1em;
}

h3 {
  font-size: 18px;
  margin-bottom: 1em;
}

p {
  color: gray;
  padding: 17px;
  line-height: 1.6em;
}

cite {
  color: #3174f4;
  font-weight: bold;
}

/* Navigation Bar */
.nav-bar-header {
  width: 100%;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  -webkit-transition: margin 300ms ease-in-out;
  transition: margin 300ms ease-in-out;
  z-index: 1000;
}

.head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  color: #128ae6;
  padding: 8px;
}

.company-logo {
  height: 50px;
}

.nav-toggle {
  display: none;
}

nav {
  width: 75vw;
  position: absolute;
  left: 25vw;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-bar {
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 8px;
  padding-left: 50px;
  text-align: start;
  list-style-type: none;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: opacity 75ms ease-in-out;
  transition: opacity 75ms ease-in-out;
}

.nav-bar li:first-child {
  margin-top: 4.5em;
}

.nav-bar li:not(:last-child) {
  padding-bottom: 12px;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out 200ms;
  transition: opacity 150ms ease-in-out 200ms;
}

.header--scrolled-down {
  margin-top: -66px;
  -webkit-transition: margin 300ms ease-in-out;
  transition: margin 300ms ease-in-out;
}

/* Home Page Hero Section */
.home-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../assets/images/home-hero-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/home-hero-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
}

.home-hero h1 {
  font-size: 48px;
  color: white;
}

.home-hero h1 span {
  color: #53a7e8;
}

/* Buttons */
.button {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: white;
  border: 3px solid #53a7e8;
  padding: 10px 30px;
}

.button:active,
.button:hover {
  background: #53a7e8;
  cursor: pointer;
}

.button__join {
  font-size: 24px;
  font-weight: 600;
  border-radius: 25px;
}

/* Home Page What We Offer Section */
.home-perks {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.perk-item {
  margin-top: 2em;
}

.perk-item-image {
  height: 100px;
  margin-bottom: 15px;
}

.perk-item-image--big {
  height: 150px;
}

.perk-description p {
  margin-top: 9px;
}

/* Home-Testimonials */
.home-testimonials {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial {
  width: 270px;
  height: auto;
  padding: 1.5em 0em;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}

.testimonial:hover {
  -webkit-box-shadow: 0px 0px 56px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 56px rgba(0, 0, 0, 0.2);
}

blockquote::before {
  content: open-quote;
  font-size: 4rem;
  line-height: 1em;
  color: #3174f4;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

blockquote::after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.6em;
  color: #3174f4;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

blockquote p {
  font-size: 18px;
}

/* Footer */
footer {
  background: #111111;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 2em;
}

footer p {
  color: whitesmoke;
}

/* footer p,
footer i {
  color: #aaa;
}
 */
.footer-contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

/* .contact-form-fieldset {
  width: 70%;
  padding: 1em;
  border-radius: 8px;
}
 */
.contact-form {
  width: 100%;
}

.field:not(:last-child) {
  padding-bottom: 1em;
}

.field input {
  width: calc(100% - 1.5rem);
  height: 44px;
}

.contact-info {
  margin-top: 2em;
}

.contact-info p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */