* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 64px;
}

button {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}


/* Header */

header {
    width: 75vw;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.fa-bars {
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 100;
}

.nav-toggle {
    display: none;
}

nav {
    display: none;
}

.nav-toggle:checked~nav {
    display: block;
}

.nav-bar {
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    padding-left: 50px;
    font-size: 24px;
    text-align: start;
    position: absolute;
    list-style-type: none;
    width: 100%;
}

.nav-bar li:first-child {
    margin-top: 4em;
}

.nav-bar li:not(:last-child) {
    padding-bottom: 16px;
}


/* Home Page */

.home-hero {
    background: url("../../assets/images/home-hero-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    padding-bottom: 20px;
}

.home-hero span {
    color: #DF302C
}

.join-button {
    background: #DF302C;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 36px;
    margin-top: 1em;
    padding: .3em 1em;
}